In [1]:
import pandas as pd

Before we start to create the mechanisms behind caluculating the elo scores, we first have to find columns which will be of use to us! Let's load in the drivers and results files.

In [2]:
drivers_df = pd.read_csv("data/drivers.csv")
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [3]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB

Columns of interest: driverId, driverRef, surname

In [4]:
drivers_df = drivers_df[['driverId','driverRef','surname']]
drivers_df.head()

   driverId   driverRef     surname
0         1    hamilton    Hamilton
1         2    heidfeld    Heidfeld
2         3     rosberg     Rosberg
3         4      alonso      Alonso
4         5  kovalainen  Kovalainen

Noice. We've got the columns we need from the drivers dataset.

In [5]:
constructors_df = pd.read_csv('data/constructors.csv')
constructors_df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [6]:
constructors_df = constructors_df[['constructorId','constructorRef']]
constructors_df.head()

   constructorId constructorRef
0              1        mclaren
1              2     bmw_sauber
2              3       williams
3              4        renault
4              5     toro_rosso

In [7]:
results_df = pd.read_csv("data/results.csv")
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25840 non-null  int64
 1   raceId           25840 non-null  int64
 2   driverId         25840 non-null  int64
 3   constructorId    25840 non-null  int64
 4   number           25840 non-null  object
 5   grid             25840 non-null  int64
 6   position         25840 non-null  object
 7   positionText     25840 non-null  object
 8   positionOrder    25840 non-null  int64
 9   points           25840 non-null  float64
 10  laps             25840 non-null  int64
 11  time             25840 non-null  object
 12  milliseconds     25840 non-null  object
 13  fastestLap       25840 non-null  object
 14  rank             25840 non-null  object
 15  fastestLapTime   25840 non-null  object
 16  fastestLapSpeed  25840 non-null  object
 17  statusId         25840 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.5+ MB

In [9]:
results_df = results_df[['resultId','raceId','driverId','constructorId','grid','position','positionText','positionOrder','rank']]
results_df.head()

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank
0,1,18,1,1,1,1,1,1,2
1,2,18,2,2,5,2,2,2,3
2,3,18,3,3,7,3,3,3,5
3,4,18,4,4,11,4,4,4,7
4,5,18,5,1,3,5,5,5,1

Awesome! Now we have all the columns that we need. All that is left to do is merge the two dataframes together into one dataset.

In [10]:
results_df = pd.merge(results_df, drivers_df, how='left', on='driverId')
results_df.head()

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank,driverRef,surname
0,1,18,1,1,1,1,1,1,2,hamilton,Hamilton
1,2,18,2,2,5,2,2,2,3,heidfeld,Heidfeld
2,3,18,3,3,7,3,3,3,5,rosberg,Rosberg
3,4,18,4,4,11,4,4,4,7,alonso,Alonso
4,5,18,5,1,3,5,5,5,1,kovalainen,Kovalainen

In [11]:
results_df = pd.merge(results_df, constructors_df, how='left', on='constructorId')
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25840 entries, 0 to 25839
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        25840 non-null  int64
 1   raceId          25840 non-null  int64
 2   driverId        25840 non-null  int64
 3   constructorId   25840 non-null  int64
 4   grid            25840 non-null  int64
 5   position        25840 non-null  object
 6   positionText    25840 non-null  object
 7   positionOrder   25840 non-null  int64
 8   rank            25840 non-null  object
 9   driverRef       25840 non-null  object
 10  surname         25840 non-null  object
 11  constructorRef  25840 non-null  object
dtypes: int64(6), object(6)
memory usage: 2.6+ MB

In [12]:
results_df.head(10)

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank,driverRef,surname,constructorRef
0,1,18,1,1,1,1,1,1,2,hamilton,Hamilton,mclaren
1,2,18,2,2,5,2,2,2,3,heidfeld,Heidfeld,bmw_sauber
2,3,18,3,3,7,3,3,3,5,rosberg,Rosberg,williams
3,4,18,4,4,11,4,4,4,7,alonso,Alonso,renault
4,5,18,5,1,3,5,5,5,1,kovalainen,Kovalainen,mclaren
5,6,18,6,3,13,6,6,6,14,nakajima,Nakajima,williams
6,7,18,7,5,17,7,7,7,12,bourdais,Bourdais,toro_rosso
7,8,18,8,6,15,8,8,8,4,raikkonen,Räikkönen,ferrari
8,9,18,9,2,2,\N,R,9,9,kubica,Kubica,bmw_sauber
9,10,18,10,7,18,\N,R,10,13,glock,Glock,toyota

In [13]:
results_df.tail(10)

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank,driverRef,surname,constructorRef
25830,25836,1096,852,213,11,11,11,11,7,tsunoda,Tsunoda,alphatauri
25831,25837,1096,855,51,15,12,12,12,8,zhou,Zhou,alfa
25832,25838,1096,848,3,19,13,13,13,13,albon,Albon,williams
25833,25839,1096,842,213,17,14,14,14,19,gasly,Gasly,alphatauri
25834,25840,1096,822,51,18,15,15,15,16,bottas,Bottas,alfa
25835,25841,1096,854,210,12,16,16,16,12,mick_schumacher,Schumacher,haas
25836,25842,1096,825,210,16,17,17,17,20,kevin_magnussen,Magnussen,haas
25837,25843,1096,1,131,5,18,18,18,11,hamilton,Hamilton,mercedes
25838,25844,1096,849,3,20,19,19,19,14,latifi,Latifi,williams
25839,25845,1096,4,214,10,\N,R,20,17,alonso,Alonso,alpine

In [26]:
results_df[(results_df['driverId'] == 4)]

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank,driverRef,surname,constructorRef
3,4,18,4,4,11,4,4,4,7,alonso,Alonso,renault
29,30,19,4,4,7,8,8,8,10,alonso,Alonso,renault
53,54,20,4,4,10,10,10,10,13,alonso,Alonso,renault
80,81,21,4,4,2,\N,R,15,9,alonso,Alonso,renault
93,94,22,4,4,7,6,6,6,6,alonso,Alonso,renault
...,...,...,...,...,...,...,...,...,...,...,...,...
25746,25752,1092,4,214,7,7,7,7,2,alonso,Alonso,alpine
25766,25772,1093,4,214,14,7,7,7,8,alonso,Alonso,alpine
25798,25804,1094,4,214,9,19,19,19,11,alonso,Alonso,alpine
25804,25810,1095,4,214,17,5,5,5,4,alonso,Alonso,alpine
25839,25845,1096,4,214,10,\N,R,20,17,alonso,Alonso,alpine

In [25]:
results_df[(results_df['driverId'] != 842) & (results_df['constructorId'] == 5) & (results_df['raceId'] == 983)]

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,rank,driverRef,surname,constructorRef
23675,23680,983,832,5,14,\N,R,19,19,sainz,Sainz,toro_rosso

In [20]:
results_df['driverId'].value_counts().keys().tolist()

[4,
 8,
 22,
 1,
 18,
 30,
 20,
 13,
 119,
 15,
 14,
 815,
 817,
 21,
 17,
 105,
 110,
 77,
 137,
 3,
 117,
 55,
 822,
 95,
 2,
 807,
 154,
 172,
 23,
 289,
 182,
 35,
 84,
 65,
 57,
 123,
 163,
 832,
 830,
 118,
 102,
 49,
 44,
 187,
 224,
 56,
 199,
 197,
 158,
 825,
 223,
 207,
 356,
 177,
 16,
 94,
 238,
 175,
 71,
 840,
 235,
 178,
 112,
 200,
 222,
 826,
 5,
 304,
 341,
 839,
 63,
 160,
 173,
 347,
 842,
 50,
 37,
 278,
 844,
 140,
 360,
 346,
 328,
 64,
 9,
 122,
 828,
 79,
 813,
 221,
 10,
 31,
 231,
 11,
 176,
 156,
 88,
 364,
 306,
 427,
 232,
 92,
 846,
 152,
 847,
 24,
 233,
 131,
 127,
 138,
 99,
 230,
 145,
 155,
 78,
 133,
 90,
 250,
 475,
 373,
 202,
 170,
 109,
 81,
 25,
 203,
 206,
 501,
 87,
 100,
 129,
 841,
 358,
 849,
 243,
 814,
 821,
 280,
 848,
 808,
 212,
 579,
 69,
 818,
 554,
 67,
 404,
 181,
 219,
 386,
 166,
 345,
 403,
 305,
 32,
 456,
 262,
 114,
 39,
 578,
 103,
 157,
 327,
 811,
 418,
 27,
 153,
 854,
 70,
 852,
 385,
 104,
 239,
 252,
 838,
 91,
 136,
 184,
 479,
 139,
 831,
 836,
 819,
 627,
 307,
 41,
 290,
 835,
 33,
 211,
 642,
 194,
 205,
 581,
 48,
 6,
 374,
 333,
 647,
 314,
 633,
 820,
 824,
 75,
 255,
 159,
 146,
 83,
 192,
 68,
 430,
 309,
 73,
 320,
 196,
 101,
 59,
 498,
 128,
 329,
 229,
 361,
 401,
 195,
 626,
 12,
 43,
 85,
 179,
 26,
 476,
 108,
 7,
 408,
 383,
 58,
 577,
 394,
 437,
 660,
 843,
 76,
 19,
 640,
 317,
 188,
 853,
 185,
 148,
 855,
 165,
 845,
 60,
 29,
 167,
 120,
 478,
 183,
 816,
 47,
 141,
 237,
 42,
 251,
 376,
 823,
 669,
 829,
 810,
 477,
 351,
 190,
 641,
 89,
 46,
 547,
 370,
 589,
 608,
 162,
 213,
 482,
 275,
 330,
 643,
 66,
 697,
 663,
 62,
 265,
 74,
 174,
 51,
 296,
 201,
 651,
 397,
 193,
 429,
 483,
 151,
 147,
 246,
 256,
 288,
 357,
 54,
 541,
 45,
 52,
 580,
 590,
 321,
 208,
 149,
 313,
 293,
 455,
 216,
 833,
 486,
 142,
 389,
 529,
 258,
 375,
 704,
 352,
 350,
 121,
 312,
 609,
 648,
 332,
 687,
 359,
 276,
 670,
 509,
 741,
 837,
 496,
 267,
 209,
 169,
 449,
 440,
 435,
 338,
 259,
 612,
 453,
 270,
 40,
 405,
 812,
 217,
 353,
 96,
 38,
 632,
 481,
 518,
 130,
 388,
 86,
 620,
 161,
 438,
 106,
 593,
 340,
 294,
 526,
 180,
 525,
 186,
 520,
 396,
 512,
 513,
 459,
 111,
 555,
 506,
 298,
 484,
 586,
 644,
 339,
 689,
 607,
 337,
 566,
 611,
 380,
 528,
 786,
 283,
 624,
 204,
 382,
 615,
 189,
 277,
 164,
 465,
 420,
 225,
 431,
 556,
 97,
 686,
 680,
 625,
 723,
 257,
 93,
 387,
 619,
 521,
 254,
 135,
 502,
 36,
 322,
 583,
 664,
 549,
 559,
 773,
 454,
 533,
 606,
 592,
 622,
 507,
 658,
 653,
 428,
 316,
 342,
 245,
 253,
 134,
 240,
 125,
 434,
 295,
 271,
 368,
 763,
 423,
 721,
 538,
 399,
 654,
 537,
 260,
 650,
 762,
 793,
 628,
 514,
 516,
 645,
 241,
 247,
 236,
 432,
 53,
 558,
 702,
 551,
 439,
 596,
 436,
 659,
 597,
 708,
 834,
 460,
 191,
 688,
 210,
 425,
 657,
 675,
 677,
 284,
 661,
 441,
 656,
 527,
 532,
 308,
 630,
 269,
 311,
 543,
 613,
 334,
 362,
 363,
 508,
 717,
 480,
 738,
 34,
 82,
 433,
 143,
 215,
 424,
 505,
 747,
 746,
 563,
 500,
 562,
 731,
 115,
 324,
 722,
 198,
 610,
 132,
 594,
 343,
 732,
 107,
 98,
 699,
 365,
 567,
 565,
 61,
 692,
 319,
 234,
 242,
 244,
 285,
 735,
 666,
 673,
 655,
 730,
 748,
 749,
 756,
 764,
 638,
 774,
 780,
 729,
 629,
 787,
 726,
 693,
 292,
 561,
 462,
 519,
 531,
 510,
 402,
 406,
 536,
 560,
 410,
 411,
 542,
 413,
 464,
 463,
 523,
 444,
 461,
 705,
 447,
 407,
 700,
 113,
 701,
 703,
 409,
 116,
 691,
 709,
 712,
 715,
 126,
 720,
 144,
 446,
 690,
 214,
 517,
 522,
 282,
 398,
 665,
 667,
 672,
 679,
 850,
 400,
 274,
 681,
 445,
 273,
 511,
 725,
 150,
 724,
 728,
 772,
 263,
 778,
 776,
 784,
 785,
 789,
 797,
 799,
 249,
 468,
 467,
 227,
 220,
 171,
 771,
 770,
 768,
 740,
 412,
 494,
 733,
 734,
 736,
 392,
 742,
 766,
 744,
 168,
 489,
 487,
 759,
 765,
 491,
 710,
 540,
 354,
 302,
 573,
 335,
 371,
 553,
 631,
 534,
 535,
 299,
 310,
 539,
 326,
 315,
 585,
 623,
 379,
 300,
 344,
 297,
 564,
 595,
 601,
 369,
 377,
 390,
 649,
 442,
 800,
 767,
 801,
 802,
 798,
 348,
 791,
 769,
 788,
 598,
 796,
 803,
 548,
 804,
 795,
 378,
 794,
 550,
 792,
 591,
 775,
 777,
 779,
 417,
 416,
 781,
 261,
 783,
 782,
 419,
 806,
 588,
 587,
 372,
 790,
 421,
 805,
 287,
 422,
 474,
 458,
 572,
 457,
 452,
 571,
 451,
 124,
 570,
 450,
 569,
 448,
 568,
 80,
 72,
 851,
 367,
 557,
 443,
 28,
 426,
 574,
 575,
 349,
 584,
 248,
 473,
 472,
 471,
 470,
 415,
 469,
 582,
 576,
 466,
 228,
 226,
 355,
 218,
 552,
 827,
 366,
 599,
 754,
 485,
 683,
 685,
 637,
 272,
 636,
 635,
 634,
 303,
 381,
 694,
 695,
 696,
 698,
 504,
 503,
 268,
 706,
 707,
 318,
 711,
 684,
 682,
 713,
 639,
 652,
 524,
 291,
 286,
 393,
 395,
 662,
 384,
 646,
 530,
 668,
 281,
 279,
 671,
 674,
 515,
 676,
 301,
 678,
 621,
 714,
 760,
 264,
 605,
 743,
 604,
 745,
 603,
 490,
 602,
 488,
 751,
 752,
 753,
 750,
 391,
 755,
 757,
 758,
 600,
 414,
 761,
 336,
 739,
 716,
 737,
 323,
 718,
 618,
 719,
 499,
 617,
 266,
 616,
 614,
 497,
 727,
 544,
 325,
 495,
 493,
 545,
 331,
 492,
 546,
 856]